<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta charset="UTF-8">

  <!-- Prefetch -->
  <!--<link rel="prefetch" href="images/logo.svg">-->

  <!-- Preconnect -->
  <!--<link rel="preconnect" href="http://static.hotjar.com">-->

  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="copyright" content="">
  <meta name="language" content="EN">
  <meta name="robots" content="index,follow">
  <meta name="Classification" content="Business">
  <meta name="author" content="">
  <meta name="reply-to" content="">
  <meta name="url" content="">
  <meta name="identifier-URL" content="">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">

  <meta http-equiv="Cache-Control" content="max-age=864000">
  <meta http-equiv="Cache-Control" content="Public">
  <meta http-equiv="pragma" content="public">
  <meta http-equiv="x-dns-prefetch-control" content="off">

  <meta name="target" content="all">
  <meta name="mobile-web-app-capable" value="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <meta name="apple-mobile-web-app-title" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">

  <!-- Google Chrome Bar Color -->
  <meta name="theme-color" content="">
  <meta name="application-name" content="">

  <meta property="og:image" content=""/>
  <meta property="og:title" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>

  <meta property="twitter:url" content=""/>
  <meta property="twitter:title" content=""/>
  <meta property="twitter:description" content=""/>
  <meta property="twitter:image" content=""/>
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">

  <link rel="manifest" href="manifest.json">

  <title>Landing Page | Gulp Landing Page Starter Kit</title>

  <!--@include('header/critical.css.html')-->

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

  <!-- bower:css -->
  <!-- endbower -->

  <link rel="stylesheet" href="css/style.css">

  <!--@include('favicon/favicon.html')-->
</head>
<!--[if !IE]>
<body><![endif]-->
<!--[if IE 6]>
<body class="ie6"><![endif]-->
<!--[if IE 7]>
<body class="ie7"><![endif]-->
<!--[if IE 8]>
<body class="ie8"><![endif]-->
<!--[if IE 9]>
<body class="ie9"><![endif]-->